---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Reak from '../components/react/Reak';
import { SiJavascript } from "react-icons/si";
import { SiPhp } from "react-icons/si";
import { FaRust } from "react-icons/fa";
import { SiMysql } from "react-icons/si";
import { BiLogoPostgresql } from "react-icons/bi";
import { FaDocker } from "react-icons/fa";
import { SiCsharp } from "react-icons/si";
import { FaVuejs } from "react-icons/fa";
import { FaCss3Alt } from "react-icons/fa";



				import { IoLogoSass } from "react-icons/io5";



---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm Adrian.</h1>
			<h4>A software engineer</h4>
			<div class="flex tech-icon">
				<span><SiPhp /></span>
				<span><SiJavascript /></span>
				<span><FaRust /></span>
				<span><SiMysql /></span>
				<span><BiLogoPostgresql /></span>
				<span><FaDocker /></span>
				<span><SiCsharp /></span>
				<span><FaVuejs /></span>
				<span><IoLogoSass /></span>
				<span><FaCss3Alt /></span>


			</div>
			<p>
				You can likewise call me Adi. I am 28 years old and love to tinker stuffs and do web programming the most.
			</p>
			<p>
				I am so much into PHP, JavaScript, MySQL and Laravel. I started my career as a web developer since February 2017.
				I am currently employed as a Junior Web Developer for a company here in Ortigas District Pasig - one of the Philippines' prime business district.
			</p>

			<h3>Projects</h3>

			<div class="flex-column">
				<a href="https://lifeofpoker.com">Life of poker</a>
				<a href="https://filipinoart.ph">FilipinoArt</a>
				<a href="https://ithec.nl">Ithec</a>
				<a href="https://companypass.nl">Companypass</a>
				<a href="https://brabantbrain.nl">Brain</a>
			</div>
		
	
		</main>
		<Footer />
	</body>
</html>
